* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  padding: 20px;
}

.App {
  background-color: #f5f5f5;
  height: 400px;
  max-width: 800px;
  border-radius: 10px;
}
